
.link {
  cursor: pointer;
}
.menu{
  background-color: #2a2828;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  color: #a6a6a6;
}
.item{
  padding: 10px;
  list-style-type: none;
}
.image{
  border-radius: 50%;
  border: 1px solid black;
}
@media screen and (max-width: 640px) {
  .container{
    display: none;
  }
}
